<mtapp:widget class="widget"
    label="<__trans phrase="TheSchwartz Stats">"
    can_close="1">
    <mt:if name="data">
       <mt:loop name="data">
           <h4><__trans phrase="Job">: <mt:var name="name"></h4>
           <ul class="user-stats-list">
               <li><__trans phrase="Job Description">: <mt:var name="label"></li>
               <li><__trans phrase="Remaining Jobs">: <mt:var name="count"></li>
           </ul>
       </mt:loop>
    </mt:if>
    <div><a href="<mt:var name="script_url">?__mode=PQManager.list" title="<__trans phrase="Manage Publish Queue Jobs">"><span><__trans phrase="Manage Publish Queue Jobs"></span></a></div>
</mtapp:widget>
